.chat-footer {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
}
  
.chat-footer input[type='text'] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
}
  
#send-button {
    background-color: var(--third-colour);
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  